body{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.form-group{
margin-top: 200px;   
width : 500px;
height : 200px;
background-color: rgb(243, 198, 158);
display : flex;
flex-direction: column;
justify-content: center;
text-align: center;
gap : 5px;
}
.form-group h5{
    font-weight : bold;

}
 button{
    width : 100px;
    transform : translate(185%);
    cursor : pointer;
 }
 input{
    width : 200px;
    display : grid;
    border  : 3px solid green;
 }
 .form-control{
   width : 300px; 
 }
 #love{
   display : flex;
   flex-direction : column;
 }
 .loves{
  
   font-size: small;
   color : red;
 }
 .join{
    display : flex;
    justify-content: center;
   
 }
 i{
    margin:10px;
    cursor : pointer;
 }
